body{
    padding: 5px;
    background-image: linear-gradient( black,rgb(88, 14, 82) 20%,rgb(145, 31, 31) ,rgb(175, 95, 64), rgb(148, 146, 17),rgb(179, 177, 177) 70%, rgb(40, 19, 133) 98%);
    padding-bottom: 50px;
}
.heading{
    font-size: 4em;
    color: rgb(224, 224, 224);
    padding: 0px 0px 0px 10px;
    margin: 48px 0px 10px 0px;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
}
.flex-item{
    height: 450px;
    width: 27%;
    position: relative;
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    --c: 0;
    --x: 1;
}
span{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    padding: 0px 5px;
    bottom: 10px;
    z-index: 1;
    transform: scale(var(--c));
    background-color: rgba(65, 65, 65, 0.452);
    background-size: 200px 200px;
    transition:
        transform ease-out 1s,
        bottom ease-out 1s;
}
img{
    transform-origin: 50% 65%;
    transition: transform 3s;
    filter: brightness(90%);
    z-index: 0;
    transform: scale(var(--x));
}
span::before{
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(201, 201, 201);
    display: block;
    margin-bottom: 2px;
}
.flex-item:hover{
    --c:1;
    --x:1.5;
    cursor: pointer;
}